body{
    font-family: 'Montserrat';
    font-style: normal;
    
width:1440px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 36px 100px;
    gap: 440px;

    /*position: absolute;
    width: 1440px;*/
    height: 144px;
    left: 0px;
    top: 0px;
    background: #424A57;
}

.navigation-list{   
    padding: 0px;
    gap: 32px;

    width: 610px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.navigation__link{
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 44px;
text-decoration: none;
color: #E1E1E1;
transition:color ease-in 0.3s ;
}

.navigation__link:hover{
color: #0096A7;
;
}


.follow-description{
height: 450px;
background: rgba(246, 248, 251, 0.9);
padding: 100px 100px;
}

.follow-description h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: #424A57;
    padding-top: 32px;
}

.follow-description p{
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    /* or 141% */
    color: rgba(0, 0, 0, 0.87);
    padding: 32px;
}

.follow-description button{
    padding: 16px 32px;
    background: #0096A7;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border:none;
    transition:background ease-in 0.4s;
    transition:color ease-in 0.4s;
}

.follow-description button:hover{ 
    background: #424A57;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0096A7;
}


.follow-description img{
    float: left;
    padding-right: 60px;
}

.company-list{
    display: flex;
    justify-content: space-evenly;
    padding: 85px 100px;
}

.company-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.company-item h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    /* identical to box height, or 183% */
    color: #424A57;
    padding-left: 16px;
}

 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: rgba(0, 0, 0, 0.87);
}

.company-item p{ padding: 20px 60px;
}



.advantages-list h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #424A57;
    padding-left: 100px;
    
}

.advantage-items {
    display: flex;
    padding:32px 100px 85px 100px;
    gap: 20px;
}

.advantages-list img{
    width: 400px;
    height: 317px;
    border-radius: 4px;
}

.advantage-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: ease-in 0.4s;
}

.advantage-item:hover{
    transform: scale(1.05);
}

.advantage-item h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #424A57;  
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 100px;
    justify-content: space-between;
    background: rgba(66, 74, 87, 0.5);
}

.visually-hidden{
    display: none;
}

.socialmedia{  
    display: flex;
    gap: 20px;
    
}

.socialmedia rect{  
    fill: #ffffff;
    transition: fill ease-in 0.3s;
 }

.socialmedia rect:hover{  
    fill: #0096A7;
 }